{{ template "head" . }}

{{ template "prom_right_table_head" }}
<tr><th colspan="2">Overview</th></tr>
  <tr>
    <td>Temperature</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_temperature_celsius{job='enviro',instance='%s'}" .Params.instance) " °C" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>Relative humidity</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_relative_humidity{job='enviro',instance='%s'} * 100" .Params.instance) "%" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>Pressure</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_pressure_pascals{job='enviro',instance='%s'} / 100" .Params.instance) " hPa" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>Light intensity</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_light_lux{job='enviro',instance='%s'}" .Params.instance) " Lux" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>Proximity (raw)</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_proximity_raw{job='enviro',instance='%s'}" .Params.instance)) }}</td>
  </tr>
  <tr>
    <td>Gas RED</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_gas_red_ohms{job='enviro',instance='%s'} / 1000" .Params.instance) " kΩ" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>Gas OX</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_gas_ox_ohms{job='enviro',instance='%s'} / 1000" .Params.instance) " kΩ" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>Gas NH3</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_gas_nh3_ohms{job='enviro',instance='%s'} / 1000" .Params.instance) " kΩ" "printf.1f") }}</td>
  </tr>
  <tr>
    <td>PM ≤1μm</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_pm_1u{job='enviro',instance='%s'}" .Params.instance) " μg/m³") }}</td>
  </tr>
  <tr>
    <td>PM ≤2.5μm</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_pm_2u5{job='enviro',instance='%s'}" .Params.instance) " μg/m³") }}</td>
  </tr>
  <tr>
    <td>PM ≤10μm</td>
    <td>{{ template "prom_query_drilldown" (args (printf "enviro_pm_10u{job='enviro',instance='%s'}" .Params.instance) " μg/m³") }}</td>
  </tr>
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
  <h1>Enviro Overview - {{ reReplaceAll "(.*?://)([^:/]+?)(:\\d+)?/.*" "$2" .Params.instance }}</h1>

  <h3>Temperature</h3>
  <div id="temperatureGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#temperatureGraph"),
    expr: "enviro_temperature_celsius{job='enviro',instance='{{ .Params.instance }}'}",
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yUnits: '°C',
    yTitle: 'Temperature'
  })
  </script>

  <h3>Relative humidity</h3>
  <div id="humidityGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#humidityGraph"),
    expr: "enviro_relative_humidity{job='enviro',instance='{{ .Params.instance }}'} * 100",
    //min: 0,  // disabled because in indoor environment it always oscillates around 50 and changes are not visible (unless you zoom out)
    //max: 100,
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yUnits: "%",
    yTitle: 'RH'
  })
  </script>

  <h3>Pressure</h3>
  <div id="pressureGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#pressureGraph"),
    expr: "enviro_pressure_pascals{job='enviro',instance='{{ .Params.instance }}'} / 100",
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yUnits: 'hPa',
    yTitle: 'Pressure'
  })
  </script>

  <h3>Light intensity</h3>
  <div id="lightGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#lightGraph"),
    expr: "enviro_light_lux{job='enviro',instance='{{ .Params.instance }}'}",
    min: 0,
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yUnits: 'Lux',
    yTitle: 'Light'
  })
  </script>

  <!-- Proximity graph isn't enabled by default because this sensor isn't relevant for typical weather stations.
  <h3>Proximity</h3>
  <div id="proximityGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#proximityGraph"),
    expr: "enviro_proximity_raw{job='enviro',instance='{{ .Params.instance }}'}",
    min: 0,
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: 'Proximity (raw)'
  })
  </script>
  -->

  <h3>Gas concentration (lower Ω value means higher concentration)</h3>
  <div id="gasGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#gasGraph"),
    expr: [
      "enviro_gas_red_ohms{job='enviro',instance='{{ .Params.instance }}'}",
      "enviro_gas_ox_ohms{job='enviro',instance='{{ .Params.instance }}'} * 10",  // multiplied to fit into similar value range as RED and NH3
      "enviro_gas_nh3_ohms{job='enviro',instance='{{ .Params.instance }}'}"
    ],
    name: ["RED sensor", "OX sensor (×10)", "NH3 sensor"],
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yUnits: 'Ω',
    yTitle: 'Gas concentration'
  })
  </script>

  <h3>Particulate matter concentration (5 minute avg/max)</h3>
  <div id="pmGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#pmGraph"),
    expr: [
      // used 5m avg because values are jumping by whole number steps there and back
      // ... and added max to visualize worst case (which might be hidden by averaging); PM10 max handles max of all PM sizes
      "max_over_time(enviro_pm_10u{job='enviro',instance='{{ .Params.instance }}'}[5m])",
      "avg_over_time(enviro_pm_10u{job='enviro',instance='{{ .Params.instance }}'}[5m])",
      "avg_over_time(enviro_pm_2u5{job='enviro',instance='{{ .Params.instance }}'}[5m])",
      "avg_over_time(enviro_pm_1u{job='enviro',instance='{{ .Params.instance }}'}[5m])"
    ],
    name: ["≤10 μm (max)", "≤10 μm (avg)", "≤2.5 μm (avg)", "≤1 μm (avg)"],
    min: 0,
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yUnits: 'μg/m³',
    yTitle: 'PM concentration'
  })
  </script>

  <h3>Air quality index (lower is better)</h3>
  <div id="qualityGraph"></div>
  <script>
  new PromConsole.Graph({
    node: document.querySelector("#qualityGraph"),
    // Some made-up index to fit all "pollution"-related values into single graph as simple overview
    // Values are normalized to:
    // - 0 means best quality, no "pollution" (although gases with undefined ranges might go below 0)
    // - 50 means threshold of acceptable quality (environmental limits, if available)
    // - 100 worst quality (although selected values might currently go above)
    expr: [
      // 12ug is yearly average limit in US; lowest listed on https://en.wikipedia.org/wiki/Particulates#United_States
      // fit limit to index 50
      "enviro_pm_2u5{job='enviro',instance='{{ .Params.instance }}'} / 12 * 50",
      // 25ug is yearly average limit in Australia; lowest listed on https://en.wikipedia.org/wiki/Particulates#Australia
      // fit limit to index 50
      "enviro_pm_10u{job='enviro',instance='{{ .Params.instance }}'} / 25 * 50",

      // gas ranges are based on home indoor city environment (your experience may vary => tuning will be required)
      // TODO it probably need some non-linear transformation to find and fit Index 50 threshold
      //
      // values for RED, OX, NH3 for described situations (city flat, indoor)
      // 460k 37.0 270 - in well ventilated room (windows open)
      // 315k 24.0 155 - closed windows, stable environment (night)
      // 280k 21.0 120 - closed windows, stable environment (day)
      // 160k 21.5 108 - shower and personal care with related "chemicals" (shampoo, creams, deodorants, hair spray)
      // 120k 23.0  93 - sink cleaning and rotten garbage
      //
      // TODO for now normalize all observed from best to worst to 0 to 50 :)
      // TODO according to the data-sheet the OX resistance is actually increasing for NH2 increasing concentration
      //   so in generic environment it is not true that low resistance is good => for now ignoring NH2 (otherwise we have to discard OX sensor)
      "(460 - enviro_gas_red_ohms{job='enviro',instance='{{ .Params.instance }}'} / 1000) / (460 - 120) * 50",
      "(37 - enviro_gas_ox_ohms{job='enviro',instance='{{ .Params.instance }}'} / 1000) / (37 - 21) * 50",
      "(270 - enviro_gas_nh3_ohms{job='enviro',instance='{{ .Params.instance }}'} / 1000) / (270 - 93) * 50",

      // fit absolute difference from 50% humidity to:
      // 0$ is index 0
      // +-20% is 50 ... use 30-70% RH as comfortable range
      // +-50% is 100 ... only to max as index 100
      // => it is almost linear, so let's just use linear function
      "abs(0.5 - enviro_relative_humidity{job='enviro',instance='{{ .Params.instance }}'}) * 200"
    ],
    name: ["PM ≤2.5 μm", "PM ≤10 μm", "RED", "OX", "NH3", "humidity"],
    min: 0,
    max: 100,
    yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
    yTitle: 'Index 0-100 and beyond'
  })
  </script>
{{ template "prom_content_tail" . }}

{{ template "tail" }}
